---
# Copyleft (c) 2022 Contributors to Smart Data Models initiative
#


components:
  schemas:
    LowLevelOrchestrator:
      $ref: "https://smart-data-models.github.io/dataModel.IT/LowLevelOrchestrator/model.yaml#LowLevelOrchestrator"
info:
  description: |
    A Low Level Orchestrator of the domain, which is associated with a unique orchestration type (e.g., Kubernetes, Docker, containerd, etc.).
  title: LowLevelOrchestrator
  version: "0.0.1"
openapi: "3.0.0"

paths: 
  /ngsi-ld/v1/entities: 
    get: 
      description: "Retrieve a set of entities which matches a specific query from an NGSI-LD system"
      parameters: 
        - 
          in: query
          name: type
          required: true
          schema: 
            enum: 
              - LowLevelOrchestrator
            type: string
      responses: 
        ? "200"
        : 
          content: 
            application/ld+json: 
              examples: 
                keyvalues: 
                  summary: "Key-Values Pairs"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.IT/LowLevelOrchestrator/examples/example.json"
                normalized: 
                  summary: "Normalized NGSI-LD"
                  value: 
                    - 
                      $ref: "https://smart-data-models.github.io/dataModel.IT/LowLevelOrchestrator/examples/example-normalized.jsonld"
          description: OK
      tags: 
        - ngsi-ld
tags: 
  - 
    description: "NGSI-LD Linked-data Format"
    name: ngsi-ld